.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.messageBox {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.pinInput {
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.joinButton {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}

.messageBox h2 {
  font-size: 25px;
  margin-bottom: 8px;
}

.highlight {
  color: #007bff; /* 파란색으로 텍스트 강조 */
}

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.pinInput {
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.joinButton {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}

.joinButtonDisabled {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #ccc; /* 비활성화 상태에서 회색으로 표시 */
  border: none;
  border-radius: 25px;
  cursor: not-allowed;
}

.divider {
  border: 1px solid #ccc;
  margin: 20px 0; /* 상하 간격을 설정합니다 */
}
