* {
  box-sizing: border-box;
}

@mixin radius($radius) {
  border-radius: $radius;
}

.consultationList {
  height: 760px; // ParentsReservationList의 원래 높이 유지
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  border: 0.2px solid rgb(220, 220, 220);
  margin: 50px 0% 50px 0%; // ParentsReservationList의 원래 마진 유지
  max-width: 750px;
  padding: 2vh;
  background-color: #f7f7f7;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: auto;
    margin-bottom: 1.6vh;
    padding: 1vh 2vw;
    background-color: #e0eaff;
    @include radius(2rem);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;

    h2 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 500;
      color: #333;
    }

    .calendarIcon {
      font-size: 1.5rem;
      color: #333;
    }

    .filterContainer {
      .filterSelect {
        padding: 0.5rem;
        border: 1px solid #dce7fc;
        @include radius(1rem);
      }
    }
  }

  .table {
    width: 100%;
    margin-top: 1.6vh;

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 1vh;
      background-color: #ffffff;
      @include radius(8px);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 1vh;

      .cell,
      .cellHeader {
        flex: 1;
        text-align: center;
      }

      .cellHeader {
        font-weight: bold;
      }
    }

    .row:first-child {
      background-color: #dce7fc;
      font-weight: bold;
      color: #000000;
    }
  }

  .consultationInput {
    width: 100%;
    height: 10vh;
    padding: 1vh;
    margin-top: 2vh;
    border: 1px solid #dce7fc;
    @include radius(8px);
  }

  .actions {
    display: flex;
    justify-content: center;
    margin-top: 2vh;

    .modify:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    button {
      @include radius(25px);
      padding: 1vh 2vh;
      margin: 0 1vw;
      border: none;
      background-color: #dce7fc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      font-size: 1rem;
      color: #333;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #c2d7fe;
      }
    }

    .cancel {
      background-color: #ffffff;

      &:hover {
        background-color: #f4f4f4;
      }
    }
  }
}

.consultationButton {
  @include radius(1rem);
  padding: 0.5vh 1vh;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  font-size: 0.9rem;
  color: #333;

  &.clicked {
    @include radius(2rem);
    padding: 0.5vh 1vh;
    background-color: #dce7fc; // 클릭된 상태의 배경색을 #dce7fc로 변경
    color: black;
    border: 1px solid #ddd;
    box-shadow: 0 0.2vh 0.5vh rgba(1, 1, 1, 0.3);
    cursor: pointer;
  }

  &.available {
    @include radius(2rem);
    padding: 0.5vh 1vh;
    background-color: #fff;
    color: black;
    border: 1px solid #ddd;
    box-shadow: 0 0.2vh 0.5vh rgba(1, 1, 1, 0.3);
    cursor: pointer;
    transition: background-color 0.1s ease, transform 0.1s ease;

    &:hover {
      background-color: #dce7fc; // hover 상태의 배경색도 #dce7fc로 변경
      transform: scale(1.1);
    }
  }

  &.unavailable {
    @include radius(2rem);
    padding: 0.5vh 1vh;
    background-color: #d9d9d9;
    color: black;
    border: 1px solid #ddd;
    cursor: not-allowed;
  }

  &.cancel {
    background-color: #ff4d4f;
    color: white;
    &:hover {
      background-color: #ff7875;
    }
  }
}
