.Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  padding: 2vh 5vw;
}

.menuNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}

.updateItem,
.changeItem {
  flex: 1;
  text-align: center;
  font-size: 1.5rem;
  padding: 1vh 0;
  cursor: pointer;
  text-decoration: none;
  color: black;
  border-radius: 25px 25px 0 0;

  &.updateItem {
    background-color: #e0e0e0;
    text-decoration: none;
    color: black;
  }

  &.changeItem {
    background-color: #5285ee;
    color: white;
  }
}

.updateItem:hover {
  background-color: #5285ee;
  color: white;
}

.formArray {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.passwordFormArray {
  text-align: center;
  width: 40vw;
  height: 65vh;
}

.formTxt {
  margin: 2% 0;
}

.passwordForm {
  width: 40vw;
  height: 60vh;
  text-align: left;
}

.inputForm {
  margin: 4% 12%;
}

.inputTxtForm {
  width: 30vw;
  height: 5vh;
  margin-top: 2%;
  font-size: 100%;
  padding-left: 2%;
}

.formBtnArray {
  display: flex;
  justify-content: center;
}

.saveBtn {
  width: 5vw;
  height: 5vh;
  font-size: 120%;
  border-radius: 20px;
  margin: 2%;
  background-color: white;
  border: 2px solid #5285ee;
  color: #5285ee;
  cursor: pointer;
}

.saveBtn:hover {
  background-color: #5285ee;
  color: white;
  border: none;
}

.deleteBtn {
  width: 5vw;
  height: 5vh;
  font-size: 120%;
  border-radius: 20px;
  margin: 2%;
  border: 2px solid #ee5252;
  color: #ee5252;
  background-color: white;
  cursor: pointer;
}

.deleteBtn:hover {
  border: none;
  background-color: #ee5252;
  color: white;
}
