.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  border: 10px solid #d0e0fe;
  width: 25%;
  height: 35%;
  background: white;
  border-radius: 8px;
  text-align: center;
  font-size: 120%;
}

.headerArray {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0e0fe;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  font-size: 120%;
}

.rejectButton {
  border-radius: 25px; /* 둥근 모서리 */
  padding: 0.8vh 2vh;
  margin: 0 0.5vw;
  color: black;
  border: 0.5px solid #ffcccc;
  background-color: #ffcccc;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: #ff9999;
  }
}

.cancelButton {
  border-radius: 25px; /* 둥근 모서리 */
  padding: 0.8vh 2vh;
  margin: 0 0.5vw;
  border: 1px solid #b7b7b7;
  background-color: white;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: #dfdfdf;
  }
}
