// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: auto;
}

.navbarArray {
  display: flex;
  align-items: center;
}