@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* 아래에서 위로 올라오는 효과 */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* 원래 위치로 이동 */
  }
}

.modalContent {
  position: fixed;
  height: 68vh;
  bottom: 5%;
  right: 4%;
  width: 23vw;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
  opacity: 0;
  animation: slideUp 0.4s ease-out forwards; /* 슬라이드 애니메이션 */
  overflow: hidden; /* 내용이 넘칠 경우 숨김 */
}

.modalContent hr {
  border: none;
  border-top: 1px solid #f0f0f0; /* 부드러운 색상의 구분선 */
  margin: 0;
}

.topArray {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5.8vh;
  background-color: #f7f7f7; /* 상단에 연한 배경색 추가 */
  border-radius: 15px 15px 0 0;
}

.topArray h4 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.chatArray {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
}

.chatArray h4 {
  margin: 1% 0;
}

.chatContent {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  flex-grow: 1;
  padding: 10px;
  display: flex; /* Flexbox로 설정 */
  flex-direction: column; /* 메시지들이 세로로 쌓이도록 설정 */
}

/* 메시지 공통 스타일 */
.message {
  width: fit-content;
  max-width: 90%; /* 메시지가 화면의 80%를 넘지 않도록 설정 */
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 10px;
  font-size: 0.9rem;
  color: #555;
}

/* 보낸 메시지 - 오른쪽에 배치 */
.sent {
  background-color: #eaeeffcd;
  align-self: flex-end; /* Flexbox로 오른쪽에 정렬 */
  text-align: right;
}

/* 받은 메시지 - 왼쪽에 배치 */
.received {
  background-color: #f1f1f1;
  align-self: flex-start; /* Flexbox로 왼쪽에 정렬 */
  text-align: left;
}

.textInput {
  width: 95%;
  height: 6vh;
  background-color: #f9f9f9;
  border: 1px solid #dddddd;
  border-radius: 25px;
  padding-left: 15px;
  box-sizing: border-box;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #333;
  outline: none; /* 포커스 시 기본 테두리 제거 */
}

.textInput::placeholder {
  color: #bbb;
}
