@keyframes slide {
  0% {
    right: -200px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    right: 0px;
    opacity: 1;
  }
  100% {
    right: -200px;
    opacity: 0;
  }
}

.explanArray {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

  .imgArray {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .img {
      width: 30vw;
      height: 70vh;
      box-shadow: 4px 4px 4px rgba(black, 0.4);
      border-radius: 100%;
    }
  }

  .txtArray {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    animation: slide 3s ease-out;
    margin-left: 5%;

    h1 {
      font-size: 350%;
      color: #5285ee;
    }

    .txtP {
      margin-top: 3%;
      font-size: 120%;
      color: #777777;
      position: relative;
      animation: slide 4s ease-out;
    }
  }
}
